flows_amplia.json
[{"id":"21ad361a.d3baa2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f3280e8c.1ec37","type":"tab","label":"Ormazabal","disabled":false,"info":""},{"id":"cf874d54.0efb8","type":"tab","label":"Enel MQTT Subscriptor","disabled":false,"info":""},{"id":"92b8cc5f.f402b","type":"mqtt-broker","z":"","name":"Connect MQTT Node","broker":"opengatepreapi.endesa.es","port":"1883","tls":"4bc95991.c92348","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2fd43fdd.0e7cd8","type":"mqtt-broker","z":"","name":"RabbitMQ Server subscriber","broker":"opengatepreapi.endesa.es","port":"1883","tls":"4bc95991.c92348","clientid":"remotas","usetls":false,"compatmode":false,"keepalive":"60","cleansession":false,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4bc95991.c92348","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"opengatepreapi.endesa.es.pem","keyname":"opengatepreapi.endesa.es.key","caname":"","servername":"","verifyservercert":false},{"id":"ba6ee282.80fb6","type":"git-nodes-config","z":"","name":"","git":"git@github.com:ricardodaza/node-red-test.git"},{"id":"435d4ab0.e1fc04","type":"inject","z":"21ad361a.d3baa2","name":"","topic":"","payload":"{\"name\":\"node\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":180,"wires":[["9d2fdddc.0beff8"]]},{"id":"4f1e2b81.0d58f4","type":"debug","z":"21ad361a.d3baa2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":180,"wires":[]},{"id":"9d2fdddc.0beff8","type":"function","z":"21ad361a.d3baa2","name":"","func":"var myName = msg.payload.name\nmsg.payload.name = myName + \" Richie\"\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":180,"wires":[["a9ca6252.a5a848"]]},{"id":"c911ff61.7eae48","type":"simple-soap","z":"21ad361a.d3baa2","host":"http://localhost:6666","hostType":"str","path":"/test","pathType":"str","action":"test","actionType":"str","body":"payload","bodyType":"msg","mustache":false,"attrkey":"$","charkey":"_","stripPrefix":false,"simplify":false,"normalizeTags":false,"normalize":false,"topic":"","name":"","useAuth":false,"x":830,"y":180,"wires":[["4f1e2b81.0d58f4"]]},{"id":"8e0e00cc.705028","type":"http in","z":"21ad361a.d3baa2","name":"","url":"/test","method":"post","upload":false,"swaggerDoc":"","x":250,"y":360,"wires":[["35adccc7.d32c14","fb4e7c8a.d33918"]]},{"id":"35adccc7.d32c14","type":"http response","z":"21ad361a.d3baa2","name":"","statusCode":"","headers":{},"x":530,"y":360,"wires":[]},{"id":"fb4e7c8a.d33918","type":"debug","z":"21ad361a.d3baa2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":320,"wires":[]},{"id":"a9ca6252.a5a848","type":"xml","z":"21ad361a.d3baa2","name":"","property":"payload","attr":"","chr":"","x":650,"y":180,"wires":[["c911ff61.7eae48"]]},{"id":"a2a9b984.773718","type":"http request","z":"21ad361a.d3baa2","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:1880/test","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":540,"wires":[["8f2847ac.069c28"]]},{"id":"6d94eeb2.b60028","type":"debug","z":"21ad361a.d3baa2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":660,"wires":[]},{"id":"a881bfba.3f9eb8","type":"template","z":"21ad361a.d3baa2","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<?xml version=\"1.0\"?>\n\n<soap:Envelope\nxmlns:soap=\"http://www.w3.org/2003/05/soap-envelope/\"\nsoap:encodingStyle=\"http://www.w3.org/2003/05/soap-encoding\">\n\n<soap:Body xmlns:m=\"http://www.example.org/stock\">\n  <m:GetStockPrice>\n    <m:StockName>{{payload.firstName}}</m:StockName>\n  </m:GetStockPrice>\n</soap:Body>\n\n</soap:Envelope>","output":"str","x":520,"y":540,"wires":[["a2a9b984.773718"]]},{"id":"e98ad314.897288","type":"inject","z":"21ad361a.d3baa2","name":"","topic":"","payload":"{\"firstName\":\"Ritchie\",\"surName\":\"Daza\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":540,"wires":[["1a1a4539.708e83"]]},{"id":"1a1a4539.708e83","type":"function","z":"21ad361a.d3baa2","name":"","func":"msg.headers = {\n     \"Content-Type\": \"text/xml;charset=UTF-8\",\n     \"SOAPAction\": \"test\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":540,"wires":[["a881bfba.3f9eb8"]]},{"id":"8f2847ac.069c28","type":"xml","z":"21ad361a.d3baa2","name":"","property":"payload","attr":"","chr":"","x":890,"y":540,"wires":[["d0ad57fd.80b32"]]},{"id":"d0ad57fd.80b32","type":"function","z":"21ad361a.d3baa2","name":"","func":"msg.payload = msg.payload[\"soap:Envelope\"]\n    [\"soap:Body\"][0]\n    [\"m:GetStockPrice\"][0]\n    [\"m:StockName\"][0]\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":660,"wires":[["6d94eeb2.b60028"]]},{"id":"151f551f.ece9eb","type":"debug","z":"f3280e8c.1ec37","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"xmloutput","targetType":"msg","x":820,"y":200,"wires":[]},{"id":"bb219756.b9281","type":"template","z":"f3280e8c.1ec37","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<SOAP-ENV:Envelope xmlns:SOAP-ENV=\"http://www.w3.org/2003/05/soap-envelope\"\n                   xmlns:SOAP-ENC=\"http://www.w3.org/2003/05/soap-encoding\"\n                                                                  xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n                                                                  xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\n                                                                  xmlns:ns1=\"http://rtu.ws.es.ormazabal.www/\">\n    <SOAP-ENV:Body>\n        <ns1:GetStationInfo>\n            <xmlwsinput>\n                <commoninput>                                           \n\n                                                               &lt;CommonInput reqId=\"M01\" seqNum=\"7\"\n\n                                                                                              xmlns=\"http://com.ormazabal.es/requestRTU/CommonInput\"\n\n                                                                                              xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n\n                                                                                              xsi:schemaLocation=\"http://com.ormazabal.es/requestRTU/CommonInput CommonInput.xsd \" /&gt;\n\n                                                               </commoninput>\n            </xmlwsinput>\n        </ns1:GetStationInfo>\n    </SOAP-ENV:Body>\n</SOAP-ENV:Envelope>","output":"str","x":500,"y":80,"wires":[["b8fdd4e3.62e1f"]]},{"id":"94380849.c6f228","type":"inject","z":"f3280e8c.1ec37","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":80,"wires":[["fcc240c2.0dde18"]]},{"id":"fcc240c2.0dde18","type":"function","z":"f3280e8c.1ec37","name":"setHeaders","func":"msg.headers = {\n    \"User-Agent\": \"gSOAP/2.8\",\n     \"Content-Type\": \"application/soap+xml; charset=utf-8; action=\\\"\\\"\",\n     \"Content-Length\": 743,\n     \"Connection\":\"keep-alive\",\n     \"Accept-Encoding\":\"gzip, deflate\",\n     \"SOAPAction\": \"\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":80,"wires":[["bb219756.b9281"]]},{"id":"b8fdd4e3.62e1f","type":"simple-soap","z":"f3280e8c.1ec37","host":"http://10.1.1.4:8084","hostType":"str","path":"/wsrtu/GetStationInfo","pathType":"str","action":"\"\"","actionType":"str","body":"payload","bodyType":"msg","mustache":false,"attrkey":"$","charkey":"_","stripPrefix":false,"simplify":false,"normalizeTags":false,"normalize":false,"topic":"","name":"","useAuth":false,"x":130,"y":200,"wires":[["9377430c.25d088"]]},{"id":"9377430c.25d088","type":"function","z":"f3280e8c.1ec37","name":"format","func":"msg.xmloutput = msg.payload[\"SOAP-ENV:Envelope\"]\n    [\"SOAP-ENV:Body\"]\n    [\"ns1:GetStationInfoResponse\"]\n    [\"return\"]\n    [\"xmloutput\"];\n    \nmsg.commonoutput = msg.payload[\"SOAP-ENV:Envelope\"]\n    [\"SOAP-ENV:Body\"]\n    [\"ns1:GetStationInfoResponse\"]\n    [\"return\"]\n    [\"commonoutput\"];\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":200,"wires":[["6a52c71f.e1c6b","b75f958b.4c3ae8"]]},{"id":"b75f958b.4c3ae8","type":"xml","z":"f3280e8c.1ec37","name":"","property":"commonoutput","attr":"root","chr":"","x":510,"y":320,"wires":[["cdbe1acf.e7341"]]},{"id":"cdbe1acf.e7341","type":"json","z":"f3280e8c.1ec37","name":"","property":"commonoutput","action":"","pretty":false,"x":650,"y":320,"wires":[["85c20597.be6fc"]]},{"id":"6fcff3f4.979454","type":"json","z":"f3280e8c.1ec37","name":"","property":"xmloutput","action":"","pretty":false,"x":650,"y":200,"wires":[["151f551f.ece9eb"]]},{"id":"39683428.8d5d14","type":"function","z":"cf874d54.0efb8","name":"Get Device ID & Global OpenGate","func":"var topicParts = msg.topic.split('/');\n\nmsg.deviceId = msg.payload.edgenodeId;\n\nvar opengate = global.get(\"opengate\");\nmsg.opengate = opengate;\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":200,"wires":[["2bb0f8b7.2d557"]]},{"id":"b6345798.d24e4","type":"function","z":"cf874d54.0efb8","name":"OGMessage","func":"var ogMessage = {\n    version:\"1.0.0\",\n    device: msg.deviceId,\n    path:[],\n    datastreams: msg.dataStreams\n};\n\nmsg.payload = ogMessage;\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":360,"wires":[["7addf3e2.139454"]]},{"id":"7f9f6ea7.e23868","type":"change","z":"cf874d54.0efb8","name":"Set API Key","rules":[{"t":"set","p":"headers['X-ApiKey']","pt":"msg","to":"9f904ed9-5225-4820-a27e-edebc67f0358","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":320,"wires":[["fe10d6d2.497318"]]},{"id":"fe10d6d2.497318","type":"http request","z":"cf874d54.0efb8","name":"OG South POST","method":"POST","ret":"txt","paytoqs":false,"url":"opengatepreapi.endesa.es/south/v80/devices/{{{deviceId}}}/collect/iot","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":360,"wires":[["924bc040.a4e7a"]]},{"id":"296e5c8f.9b5a74","type":"catch","z":"cf874d54.0efb8","name":"","scope":null,"uncaught":false,"x":300,"y":40,"wires":[["b2143828.b053c"]]},{"id":"b2143828.b053c","type":"debug","z":"cf874d54.0efb8","name":"Error Catched","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":480,"y":40,"wires":[]},{"id":"c9ad6c56.374be8","type":"json","z":"cf874d54.0efb8","name":"","property":"payload","action":"","pretty":false,"x":230,"y":200,"wires":[["39683428.8d5d14","e20ebc7.56cac4"]]},{"id":"2bb0f8b7.2d557","type":"function","z":"cf874d54.0efb8","name":"Data Stream Mapper","func":"var dataStreamMap = {\n\t'END201': \n\t\t{\n\t\t\tdataStreamId: 'aCondFuncionamiento',\n\t\t\tisAlert: true \n\t\t},\n\t'END202': \n\t\t{\n\t\t\tdataStreamId: 'gElecFalloArranque',\n\t\t\tisAlert: true\n\t\t},\n\t'END203': \n\t\t{\n\t\t\tdataStreamId: 'gElecGrupoMarcha',\n\t\t\tisAlert: true \n\t\t},\n\t'END204': \n\t\t{\n\t\t\tdataStreamId: 'gElecMandoGrupo',\n\t\t\tisAlert: true\n\t\t},\n\t'END101': \n\t\t{\n\t\t\tdataStreamId: 'alimFaltaCorrienteAlterna',\n\t\t\tisAlert: true \n\t\t},\n\t'END102': \n\t\t{\n\t\t\tdataStreamId: 'alimTensionContinua',\n\t\t\tisAlert: false\n\t\t},\n\t'END103': \n\t\t{\n\t\t\tdataStreamId: 'balizaFallo',\n\t\t\tisAlert: true \n\t\t},\n\t'END104': \n\t\t{\n\t\t\tdataStreamId: 'bateriaMinimaTensionSalida',\n\t\t\tisAlert: true\n\t\t},\n\t'END105': \n\t\t{\n\t\t\tdataStreamId: 'converFalloCC',\n\t\t\tisAlert: true \n\t\t},\n\t'END106': \n\t\t{\n\t\t\tdataStreamId: 'alimenFaltaCC',\n\t\t\tisAlert: true\n\t\t},\n\t'END107': \n\t\t{\n\t\t\tdataStreamId: 'humo',\n\t\t\tisAlert: true \n\t\t},\n\t'END108': \n\t\t{\n\t\t\tdataStreamId: 'tempCaseta',\n\t\t\tisAlert: false\n\t\t},\n\t'END109': \n\t\t{\n\t\t\tdataStreamId: 'puerta',\n\t\t\tisAlert: true \n\t\t},\n\t'END110': \n\t\t{\n\t\t\tdataStreamId: 'temp',\n\t\t\tisAlert: true\n\t\t},\n\t'END111': \n\t\t{\n\t\t\tdataStreamId: 'alimenMandoRearmadorAlterna',\n\t\t\tisAlert: true \n\t\t},\n\t'ENDOP01': \n\t\t{\n\t\t\tdataStreamId: 'aCondMandoMarchaAire',\n\t\t\tisAlert: true\n\t\t},\n\t'ENDOP02': \n\t\t{\n\t\t\tdataStreamId: 'gElecAlarmaGrupo',\n\t\t\tisAlert: true \n\t\t},\n\t'ENDOP03': \n\t\t{\n\t\t\tdataStreamId: 'gElecNivelCombustible',\n\t\t\tisAlert: true\n\t\t},\t\t\t\n\t'ENDOP04': \n\t\t{\n\t\t\tdataStreamId: 'gElecMandoReset',\n\t\t\tisAlert: true\n\t\t},\n\t'ENDOP05': \n\t\t{\n\t\t\tdataStreamId: 'alimenSistemaSolarFallo',\n\t\t\tisAlert: true \n\t\t},\n\t'ENDOP06': \n\t\t{\n\t\t\tdataStreamId: 'UPSBateriaBaja',\n\t\t\tisAlert: true\n\t\t},\n\t'ENDOP07': \n\t\t{\n\t\t\tdataStreamId: 'UPSFalloAlternaEntrada',\n\t\t\tisAlert: true \n\t\t},\n\t'ENDOP08': \n\t\t{\n\t\t\tdataStreamId: 'humedadRelativa',\n\t\t\tisAlert: false\n\t\t},\n\t'ENDOP09': \n\t\t{\n\t\t\tdataStreamId: 'UPSOnduladorFallo',\n\t\t\tisAlert: true \n\t\t},\n\t'ENDOP10': \n\t\t{\n\t\t\tdataStreamId: 'intrusPresencia',\n\t\t\tisAlert: true\n\t\t},\t\n\t'ENDOP11': \n\t\t{\n\t\t\tdataStreamId: 'tierraPruebaMedida',\n\t\t\tisAlert: true\n\t\t},\t\t\t\n\t'ENDOP12': \n\t\t{\n\t\t\tdataStreamId: 'rectifFalloCC',\n\t\t\tisAlert: true \n\t\t},\n\t'ENDOP13': \n\t\t{\n\t\t\tdataStreamId: 'fibraFalloTerminal',\n\t\t\tisAlert: true\n\t\t},\t\t\n\t'ENDOP14': \n\t\t{\n\t\t\tdataStreamId: 'monocanalFallo',\n\t\t\tisAlert: true\n\t\t},\n\t'ENDOP15': \n\t\t{\n\t\t\tdataStreamId: 'ondaFalloReceptor',\n\t\t\tisAlert: true \n\t\t},\n\t'ENDOP16': \n\t\t{\n\t\t\tdataStreamId: 'ondaFalloRuido',\n\t\t\tisAlert: true\n\t\t},\n\t'ENDOP17': \n\t\t{\n\t\t\tdataStreamId: 'ondaFalloTransmisor',\n\t\t\tisAlert: true \n\t\t},\n\t'ENDOP18': \n\t\t{\n\t\t\tdataStreamId: 'presurFallo',\n\t\t\tisAlert: true\n\t\t},\n\t'ENDOP19': \n\t\t{\n\t\t\tdataStreamId: 'radioFallo',\n\t\t\tisAlert: true \n\t\t}\t\t\t\t\t\t\t\t\t\t\t\t\n};\n\nmsg.dataStreams = []; // Mapped data streams will be stored in msg variable to be used in other nodes.\nfor (var i = 0; i < msg.payload.data.length; i++ ){\n    var businessId = msg.payload.data[i].businessId;\n    if(typeof dataStreamMap[businessId] !== 'undefined') {\n        var dataStreamId = dataStreamMap[businessId].dataStreamId;\n        var isAlert = dataStreamMap[businessId].isAlert;\n        var dataPointValue = msg.payload.data[i].number;\n        if (isAlert) {\n           // Convert number to boolean\n           dataPointValue = dataPointValue === 1 ? true : false; \n       }\n        var dataStream = {\n          id: dataStreamId,\n          datapoints: [\n              {\n                at: msg.payload.data[i].timeStamp,\n                value: dataPointValue\n              }\n          ]\n        };\n        msg.dataStreams.push(dataStream);\n    }\n}\nvar location =\n{\n    id: 'location',\n    datapoints: [\n        {\n        value: msg.payload.locationId\n        }\n    ]\n}\n\nmsg.dataStreams.push(location);\n\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":200,"wires":[["b6345798.d24e4"]]},{"id":"e20ebc7.56cac4","type":"debug","z":"cf874d54.0efb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":500,"wires":[]},{"id":"7addf3e2.139454","type":"mqtt out","z":"cf874d54.0efb8","d":true,"name":"Connect MQTT Node","topic":"odm/iot/{{{deviceId}}}","qos":"1","retain":"","broker":"92b8cc5f.f402b","x":750,"y":460,"wires":[]},{"id":"924bc040.a4e7a","type":"debug","z":"cf874d54.0efb8","name":"OG HTTP Resp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":900,"y":360,"wires":[]},{"id":"6bf4463.9c885b8","type":"mqtt in","z":"cf874d54.0efb8","d":true,"name":"Connected MQTT","topic":"odm/remotas/torres/#","qos":"2","datatype":"auto","broker":"2fd43fdd.0e7cd8","x":130,"y":120,"wires":[["c9ad6c56.374be8"]]},{"id":"6a52c71f.e1c6b","type":"xml","z":"f3280e8c.1ec37","name":"","property":"xmloutput","attr":"root","chr":"","x":510,"y":200,"wires":[["6fcff3f4.979454"]]},{"id":"85c20597.be6fc","type":"debug","z":"f3280e8c.1ec37","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"commonoutput","targetType":"msg","x":840,"y":320,"wires":[]},{"id":"a31d06c7.55d318","type":"git-nodes","z":"cf874d54.0efb8","label":"Git develop","branch":"develop","sourcebranch":"develop","gitadd":"settings.js,package.json,.config.json,lib","gitrmcache":"nodes/*/x,nodes/*/y,nodes/*/z","debugging":true,"git":"ba6ee282.80fb6","x":300,"y":680,"wires":[]}]